<h1>{{document_title}}</h1>
<form id="login-form" action="/login" method="post">
    <label for="usernameInput">Please enter the username: </label>
    <input id="usernameInput" name="username" type="text">
    <br>
    <label for="passwordInput">Please enter the password: </label>
    <input id="passwordInput" name="password" type="password">
    <br>
    <button class="submit" type="submit">Submit</button>
</form>

{{#if error_message}}
<p class="error"> {{this.error_message}}</p>
{{/if}}
<br>
<a href="/register">Click here to register!</a>