
<main>
    <h1 class="title">{{title}}</h1>
    <p class="not-found">We're sorry, but no results were found for {{searchPersonName}}.</p>
    <p class="example">For example, use "ste" and see what it returns.</p>
    <a class="search-again" href="/">Try again</a>
</main>